# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
.vite/
.cache/
.vercel/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
